#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-flow: column;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.summary {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.unmatched-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    table-layout: fixed;
}

.unmatched-table th,
.unmatched-table td {
    border: 1px solid #000; /* Set the border color and width */
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

.unmatched-table td:nth-last-child(-n+2) {
    white-space: nowrap; /* Prevent wrapping for the last two columns */
    word-wrap: normal; /* Ensure content expands the column width */
    width: auto;
}